<div class="container mt-3">
  <table class="table align-middle">
    <thead class="table-secondary text-center">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">名字</th>
        <th scope="col">是否為老師</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        {{#if this.isTeacher}}<td>老師</td>
        {{else}}<td></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>