<header>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div>
        <a class="navbar-brand" href="/" style="text-decoration: none; color: black;">
          <i class="fa-solid fa-cloud"></i>
          <strong style="font-size: 24px;">Tutor</strong>
        </a>
        <a href="/users/:id" style="text-decoration: none; color: black; margin-right: 10px; font-size: 16px;">Name</a>
        <a href="/tutors/create" style="text-decoration: none; color: black; font-size: 16px;">成為老師</a>
      </div>
      <a href="/logout" 
      class="mx-3"
      style="text-decoration: none; color: black; font-size: 16px;">Logout</a>
    </div>
  </nav>
</header>