<div class="container">
  <form action="/tutors/{{tutor.id}}?_method=PUT" method="POST">
  {{!-- name --}}
  <div class="form-row mb-5">
    <input class="form-control" type="text" name="name" id="name" placeholder="Name"
      value="{{tutor.name}}">
  </div>
  <div class="form-row mb-5">
    <input class="form-control" type="text" name="nation" id="nation" placeholder="Nation" value="{{tutor.nation}}">
  </div>
    {{>tutor-form}}
  </form>
</div>